<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      <ul class="list-inline">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Read</a></li>
        <li><a href="#">Currently reading</a></li>
        <li><a href="#">To read</a></li>
      </ul>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="sr-only" for="inputSearch">Search</label>
          <div class="col-md-12">
            <input tyle="text" class="form-control" ng-model="search" id="inputSearch" placeholder="Search" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row book-list">

      <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 book" ng-repeat="book in books">
        <a href="#/book/{{ book.id }}" class="thumbnail">
          <div class="image">
            <img ng-src="api/book/{{ book.id }}/cover" title="{{ book.title }}" />
          </div>
          <div class="caption">
            <p class="text-primary text-center">{{ book.title }}</p>
            <p class="text-muted text-center">{{ book.author }}</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>